﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadComponentPartial")

<body>
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>

    <div id="main-wrapper">

        @await Component.InvokeAsync("_NavbarComponentPartial")

        @await Component.InvokeAsync("_SidebarComponentPartial")

        <div class="content-body">
            <div class="container-fluid mt-3">

                @RenderBody()

            </div>
        </div>

        @await Component.InvokeAsync("_FooterComponentPartial")

    </div>

    @await Component.InvokeAsync("_ScriptComponentPartial")

</body>

</html>