@model IdentityChatProject.Entities.Message
@{
    ViewData["Title"] = "MessageDetail";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}
@* 
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    @await Component.InvokeAsync("_MessageSidebarComponentPartial")
                    <div class="email-right-box">
                        <div class="read-content">
                            <div class="media pt-5">
                                <img class="mr-3 rounded-circle" src="images/avatar/1.jpg">
                                <div class="media-body">
                                    <h5 class="m-b-3">@Model.SenderEmail</h5>
                                    <p class="m-b-2">@Model.SendDate.ToShortDateString()</p>
                                </div>

                            </div>
                            <hr>
                            <div class="media mb-4 mt-1">
                                <div class="media-body">
                                    <h4 class="m-0 text-primary">@Model.Subject</h4><small class="text-muted">To:@Model.ReceiverEmail</small>
                                </div>
                            </div>
                            <p><strong>Ingredia Nutrisha,</strong>@Model.MessageDetail</p>
                           
                            <p>
                                Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                                Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
                                sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,
                            </p>
                            <h5 class="m-b-5 p-t-15">Kind Regards</h5>
                            <p>Mr Smith</p>
                            <hr>
                            <h6 class="p-t-15"><i class="fa fa-download mb-2"></i> Attachments <span>(3)</span></h6>
                            <div class="row m-b-30">
                                <div class="col-auto">
                                    <a href="#" class="text-muted">My-Photo.png</a>
                                </div>
                                <div class="col-auto">
                                    <a href="#" class="text-muted">My-File.docx</a>
                                </div>
                                <div class="col-auto">
                                    <a href="#" class="text-muted">My-Resume.pdf</a>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group p-t-15">
                                <textarea class="w-100 p-20 l-border-1" name="" id="" cols="30" rows="5" placeholder="It's really an amazing.I want to know more about it..!"></textarea>
                            </div>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-primaryw-md m-b-30" type="button">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 *@