@model MessageStatsViewModel

<div class="row mb-5">
    <div class="col">
        <div class="card card-profile text-center">
            <span class="mb-1 text-primary"><i class="fa fa-envelope text-success"></i></span>
            <h3 class="mb-0">@Model.InboxCount</h3>
            <p class="text-muted px-4">Gelen Kutusu</p>
        </div>
    </div>
    <div class="col">
        <div class="card card-profile text-center">
            <span class="mb-1 text-warning"><i class="fa fa-paper-plane"></i></span>
            <h3 class="mb-0">@Model.SendboxCount</h3>
            <p class="text-muted">Giden Kutusu</p>
        </div>
    </div>
</div>
